<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us | iFeels</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

    <!-- Card -->
    <div class="container">
        <div class="container border-top py-4 px-2">
            <h2 class="text-center mt-2 mb-5">OUR TEAM</h2>
            <!-- Himanshu Maurya -->
            <div class="card mb-3" style="width: 100%;">
                <div class="row g-0">
                    <div class="col-md-2">
                        <img  src="/static/images/github_1051326.png" class="img-fluid rounded-start" alt="..."
                            width="256" height="256">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body text-start">
                            <h5 class="card-title fw-bold my-1 mt-3">UI Designer</h5>
                            <p class="card-text fs-5 mb-1">Himanshu Maurya</p>
                            <p class="card-text border-top">Some quick example text to build on the card title and
                                make up the
                                bulk
                                of the card's content.</p>
                            <p class="text-start">
                                
                                <a href="https://github.com/himanshumaurya0007/" target="_blank"><img 
                                        src="/static/images/github_1051326.png" alt="" width="50"></a>
                                <a href="https://www.linkedin.com/in/himanshumaurya0007/" target="_blank"><img 
                                        src="/static/images/linkedin_1384014.png" alt="" width="50"></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Faizan Mahimkar -->
            <div class="card mb-3" style="width: 100%;">
                <div class="row g-0">
                    <div class="col-md-10">
                        <div class="card-body text-end">
                            <h5 class="card-title fw-bold my-1">UI Designer</h5>
                            <p class="card-text fs-5 mb-1">Faizan Mahimakar</p>
                            <p class="card-text border-top">Some quick example text to build on the card title and
                                make up the
                                bulk
                                of the card's content.</p>
                            <p class="text-end">
                                
                                <a href="https://github.com/Faizan-Mahimkar" target="_blank"><img 
                                        src="/static/images/github_1051326.png" alt="" width="50"></a>
                                <a href="https://www.linkedin.com/in/faizan-mahimkar-19432b266" target="_blank"><img 
                                        src="/static/images/linkedin_1384014.png" alt="" width="50"></a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <img  src="/static/images/github_1051326.png" class="img-fluid rounded-start" alt="..."
                            width="256" height="256">
                    </div>
                </div>
            </div>

            <!-- Harshal Patil -->
            <div class="card mb-3" style="width: 100%;">
                <div class="row g-0">
                    <div class="col-md-2">
                        <img  src="/static/images/github_1051326.png" class="img-fluid rounded-start" alt="..."
                            width="256" height="256">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body text-start">
                            <h5 class="card-title fw-bold my-1">Back-End Developer</h5>
                            <p class="card-text fs-5 mb-1">Harshal Patil</p>
                            <p class="card-text border-top">Some quick example text to build on the card title and
                                make up the
                                bulk
                                of the card's content.</p>
                            <p class="text-start">
                                
                                <a href="https://github.com/Harshal4511" target="_blank"><img 
                                        src="/static/images/github_1051326.png" alt="" width="50"></a>
                                <a href="https://www.linkedin.com/in/harshal-patil-b39213262/" target="_blank"><img 
                                        src="/static/images/linkedin_1384014.png" alt="" width="50"></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Arya Patil -->
            <div class="card mb-3" style="width: 100%;">
                <div class="row g-0">
                    <div class="col-md-10">
                        <div class="card-body text-end">
                            <h5 class="card-title fw-bold my-1">Back-End Developer</h5>
                            <p class="card-text fs-5 mb-1">Arya Patil</p>
                            <p class="card-text border-top">Some quick example text to build on the card title and
                                make up the
                                bulk
                                of the card's content.</p>
                            <p class="text-end">
                                
                                <a href="https://github.com/ShutterStack" target="_blank"><img 
                                        src="/static/images/github_1051326.png" alt="" width="50"></a>
                                <a href="https://www.linkedin.com/in/arya-patil-94b115210" target="_blank"><img 
                                        src="/static/images/linkedin_1384014.png" alt="" width="50"></a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <img  src="/static/images/github_1051326.png" class="img-fluid rounded-start" alt="..."
                            width="256" height="256">
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>